.form-field{
    width: 400px;
    height: 320px;
    background-color: rgb(134, 178, 204);
    padding: 20px;
    padding-bottom: 30px;
}

.reg-field{
    width: 360px;
    height: 250px;
    border: 1px solid black;
    padding: 15px;
    float:left
}

.info-row{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border-bottom: 1px dashed rgb(197, 197, 223);
    text-align:right;
}

span{
float: left;
}

.submit-field{
    padding: 5px;
    text-align:center;
}